@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f2f5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;

}
.container{
    position: absolute;
    top: 15%;
    left: 14%;
    right: 14%;
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
}
.container h1{
    color: #0865FF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 55px;
    font-style: normal
}
.para{
    font-size: 24px;
    line-height: 28px;
    width: auto;
        font-family:   SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  padding: 0 0 20px;
    
}
.header{
    display: flex;
    align-items: center;
}

.forms{
       align-items: center; 
       padding-bottom: 24px;
    padding-top: 10px;
       background-color: #fff;
       border: none;
       border-radius: 8px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
       box-sizing: border-box;
       margin: 40px 0 0;
       padding: 20px 0 28px;
       width: 25rem;
       display: flex;
       height: 22rem;
       flex-direction: column;
}
.input{
    margin: 0;
    padding: 0;
    text-align: center; 
}
.text{
    padding-right: 80px;
}
#column{
    font-size: 17px;
    width: 363px;
       border: 1px solid #dddfe2;
       color: #9e949c9e;
       font-family: Helvetica, Arial, sans-serif;
       height: 52px;
       line-height: 16px;
       vertical-align: middle;
    padding: 14px 16px;
    border-radius: 6px;
}
.mail{
    color: #9e949c9e;
}

.input input{
    margin: 10px;
}
.click{
    text-align: center;
}
.Log-in {
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 14px 155px;
}
.page{
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.page1{
    display: flex;
    flex-direction: row-reverse;
    color: rgba(0, 0, 0, 0.767);
    margin-top: 12px;
    text-decoration: none;
    font-size: 14px;
    padding-right: 40px;
}

.forget
{
    color: #0866ff;
    text-decoration: none;
   margin-top: 16px;
    font-size: 13.8px;
}

.forget1
{
    margin-top: 16px;
    text-align: center;
   
}
.hr{
    margin: 12px;
}
.account1{
    text-align: center;
}
.account{
    background-color: #42b72a;
    padding: 0 20px;
    color: white;
    line-height: 28px;
    font-size: 17px;
    border-radius: 6px;
    width: 20rem;
    text-decoration: none;
    margin-top: 20px;
padding: 14px 20px;
}
@media only screen and (max-width: 900px) {
    ._95ka {
        padding-bottom: 164px;
        /* padding-top: 20px; */
    }}
    @media only screen and (max-width: 1075px) {
        .container {
            float: right;
        }
    }
  